.wrapper {

  display: flex;
  flex-direction: column;
  background-color: #F0F3F4;
  height: 100%;

  main {
    flex-grow: 1;
    flex-shrink: 0;
  }

  footer {
    flex-shrink: 0;
    height: 60px;
  }

  header {

    flex-shrink: 0;
    background-color: black;

    .cabecera {

      width: 100%;

      .flex-row {

        display: flex;
        flex-direction: row;

        .flex-item {

          display: flex;
          flex: 1;

          .desktop {
            display: none;
          }

          .mobile {
            display: block;
          }

          .btn-white {

            border: 0;
            padding: 0 16px;
            margin-left: 3px;
            background-color: #F0F3F4;
            color: black;

            &.btn-white:active {
              outline: 0;
            }

          }

          .btn-black {

            border: 0;
            padding: 0px 16px;
            margin-left: 3px;
            background-color: black;
            color: white;

            &.btn-black:active {
              outline: 0;
            }

            &.btn-black:focus {
              outline: 0;
            }

            .color-red {
              color: red;
            }

          }

          .logo {
            height: 50px;
            padding: 0 20px;
          }

          .foto {
            height: 46px;
            border-radius: 4px;
            margin: 2px 10px;
          }

        }

        .flex-end {
          justify-content: flex-end;
        }

      }

    }

    .menu {
    
      width: 100%;
      -webkit-transition: all 0.2s ease-in-out 0s;
      -moz-transition: all 0.2s ease-in-out 0s;
      -o-transition: all 0.2s ease-in-out 0s;
      transition: all 0.2s ease-in-out 0s;
    
      &.open {
        height: 130px;
      }
    
      &.close {
        height: 0px;
      }

      .flex-column {

        display: flex;
        flex-direction: column;
  
        .flex-item {
       
          display: flex;
          flex: 1;

          .btn-black {
    
            border: 0;
            padding: 10px 20px;
            background-color: black;
            color: white;

            &.btn-black:active {
              outline: 0;
            }
    
            i {
              margin-right: 5px;
            }
        
            .color-red {
              color: red;
            }
        
          }

        }
  
      }

    }
  
    .buscador {
    
      top: 0;
      left: 0;
      height: 100%;
      position: fixed;
      background-color: #333333;
      -moz-transition: all linear 0.5s;
      -o-transition: all linear 0.5s;
      -webkit-transition: all linear 0.5s;
      transition: all linear 0.5s;
    
      &.open {
        width: 100%;
      }
    
      &.close {
        width: 0px;
      }
    
      .flex-column {
    
        display: flex;
        flex-direction: column;

        .flex-item {
          
          display: flex;
          flex: 1;

          .logo {
            height: 50px;
            padding: 0 20px;
          }

          .btn-grey {

            top: 0;
            right: 0;
            position: absolute;
            font-size: 100%;
            font-family: inherit;
            border: 0;
            padding: 14.5px 20px;
            background-color: #333333;
            color: white;

            &.btn-grey:active {
              outline: 0;
            }
          
          }

          .buscar {
            width: 100%;
            margin: 20px;
            padding: 8px;
            border: 1px;
          }

          .option { 
            margin: 0 0 20px 20px;
            padding: 10px;
            color: white;

            &.option:hover {
              background-color: rgb(36, 36, 36);
            }

            .options {
             
              position: relative;
              cursor: pointer;
            }

            .options-active {
              color: white;
              position: relative;
              cursor: pointer;

              &::after {
                content: " ";
                padding: 1px;
                width: 100%;
                position: absolute;
                top: 22px;
                left: 0px;
                background-color: white;
              }

            }

          }

          .scrollable{

            height: calc(100vh - 188px);
            width: 100%;
            overflow-y: scroll;
            overflow-x: hidden;

            .flex-row {

              display: flex;
              flex-direction: row;
              flex-wrap: wrap;   
            
              .flex-item {
      
                display: flex;
                flex: 1;
            
                .appbox {
      
                  margin: 0 0 20px 20px;
                  padding: 15px 0 15px 0;
                  text-align: center;
                  color: white;
                  border: 1px;
                  width: 192px;
                  font-size: 16px;
                  border-style: solid;
                  border-width: 1px;
                  border-color: #333333;
                  border-radius: 2px;
                  position: relative;
      
                  .tooltip {
                    visibility: hidden;
                    width: 170px;
                    background-color: black;
                    color: #fff;
                    text-align: center;
                    padding: 5px 5px;
                    border-radius: 6px;
                    font-size: 11px;
                    position: absolute;
                    top: 76px;
                    left: 10px;
                    z-index: 1; 
      
                  }
      
                  &.appbox:hover{
      
                    .tooltip {
                      visibility: visible;
                    }
      
                    border-style: solid;
                    border-width: 1px;
                    border-color: grey;
                  }
      
                  .icono {
                    width: 100%
                  }
      
                }
      
              }
  
            }

            .flex-column {
    
              display: flex;
              flex-direction: column;
      
              .flex-item {
                
                display: flex;
                flex: 1;

                .headAmbito {

                  display: flex;
                  padding: 0 0 5px 20px;
                  width: 100%;
        
                  .headColor {
                    width: 5px;
                  }
        
                  .headTitle {
                    margin: 0 0 0 20px;
                    color:white;
                  }
        
                }

              }

              .cursor {

                color: white;
      
                &.cursor:hover {
                  cursor: pointer;
                  color: white;
                  opacity: 0.3;
                  background-image: linear-gradient(to right,#333333, #747272, #747272, #333333);
                }
      
                .aplicacion {
                  margin: 8px 0 8px 45px;
      
                  .title {
                    color: white;
                    margin-left: 10px;
                  }
      
                  .icono {
                    font-size: 25px;
                    width: 40px;
                    height: 40px;
                    color: white;
                    background-color: #757575;
                    text-align: center;
                    padding-top: 8px;
      
                  }
      
                }         
      
              }

            }

          }

        }
    
        .flex-start {
          justify-content: flex-start;
        }

        .bkgd-black {
          background-color: black;
        }

      }

    }

  }

}

/* Scroll */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #BBBBBB;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

@media (min-width: 768px) {
  .wrapper {

    header {

      .cabecera {

        .flex-row {

          .flex-item {

            .desktop {
              display: block;
            }

            .mobile {
              display: none;
            }

            .btn-white {

              display: block;

              &:hover {
                background-color: #16232D;
              }

            }

            .btn-black {

              &:hover {
                background-color: #16232D;
              }

            }

          }

        }
        
      }
      
      .menu {
        display: none;
      }

      .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        background: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        opacity: 100;
      }

      .buscador {

        &.open {
          width: 450px;
        }

        &.close {
          width: 0px;
        }

        .flex-column {
            
          .flex-item {

            .btn-grey {

              &:hover {
                background-color: #16232D;
              }

            }

          }
          
        }

      }

    }

  }
}