@color-blanco: #FFFFFF;
@color-negro: #000000;
@color-footer: #EDF1F2;
@color-links: #0071BC;
@color-twitter: #92CDDC;
@color-facebook: #0071BC;
@color-youtube: #C1272D;
@color-linkedin: #0071BC;
@color-instagram: #777777;
@color-pinterest: #BC5500;
@color-android: #518400;
@color-apple: @color-blanco;

.wrapper {

  display: flex;
  flex-direction: column;
  background-color: #F0F3F4;
  height: 100%;

  main {
    flex-grow: 1;
    flex-shrink: 0;
  }

  header {

    flex-shrink: 0;
    background-color: black;

    .cabecera {

      width: 100%;

      .flex-row {

        display: flex;
        flex-direction: row;

        .flex-item {

          display: flex;
          flex: 1;

          .desktop {
            display: none;
          }

          .mobile {
            display: block;
          }

          .btn-white {

            border: 0;
            padding: 0 16px;
            margin-left: 3px;
            background-color: #F0F3F4;
            color: black;
            position: relative;

            .tooltip {
              visibility: hidden;
              width: 200%;
              background-color: black;
              color: #fff;
              text-align: center;
              padding: 5px 5px;
              border-radius: 6px;
              font-size: 11px;
              position: absolute;
              top: 52px;
              left: -24px;
              z-index: 1;
            }

            &.btn-white:hover {

              .tooltip {
                visibility: visible;
              }

            }

            &.btn-white:active {
              outline: 0;
            }

          }

          .btn-black {

            border: 0;
            padding: 0px 16px;
            margin-left: 3px;
            background-color: black;
            color: white;
            position: relative;

            .tooltip {
              visibility: hidden;
              width: 100px;
              background-color: black;
              color: #fff;
              text-align: center;
              padding: 5px 5px;
              border-radius: 6px;
              font-size: 11px;
              position: absolute;
              top: 52px;
              left: -24px;
              z-index: 1;
            }

            .tooltip-corner {
              visibility: hidden;
              width: 100px;
              background-color: black;
              color: #fff;
              text-align: center;
              padding: 5px 5px;
              border-radius: 6px;
              font-size: 11px;
              position: absolute;
              top: 52px;
              left: -58px;
              z-index: 1;
            }

            &.btn-black:hover {

              .tooltip {
                visibility: visible;
              }

              .tooltip-corner {
                visibility: visible;
              }

            }

            &.btn-black:active {
              outline: 0;
            }

            &.btn-black:focus {
              outline: 0;
            }

            .color-red {
              color: red;
            }

          }

          .inicio {

            .logo {

              height: 50px;
              padding: 0 20px;

            }
  
            .tooltip {
              visibility: hidden;
              width: 120px;
              background-color: black;
              color: #fff;
              text-align: center;
              padding: 5px 5px;
              border-radius: 6px;
              font-size: 11px;
              position: absolute;
              top: 52px;
              left: 45px;
              z-index: 1;
            }

            &.inicio:hover {

              .tooltip {
                visibility: visible;
              }

            }

          }

          .usuario {

            position: relative;

            .foto {

              height: 46px;
              border-radius: 4px;
              margin: 2px 10px;

            }

            .tooltip {
              visibility: hidden;
              width: 120px;
              background-color: black;
              color: #fff;
              text-align: center;
              padding: 5px 5px;
              border-radius: 6px;
              font-size: 11px;
              position: absolute;
              top: 52px;
              left: -30px;
              z-index: 1;
            }

            &.usuario:hover {

              .tooltip {
                visibility: visible;
              }

            }

          }

        }

        .flex-end {
          justify-content: flex-end;
        }

      }

    }

    .menu {

      width: 100%;
      -webkit-transition: all 0.2s ease-in-out 0s;
      -moz-transition: all 0.2s ease-in-out 0s;
      -o-transition: all 0.2s ease-in-out 0s;
      transition: all 0.2s ease-in-out 0s;

      &.open {
        height: 130px;
      }

      &.close {
        height: 0px;
      }

      .flex-column {

        display: flex;
        flex-direction: column;

        .flex-item {

          display: flex;
          flex: 1;

          .btn-black {

            border: 0;
            padding: 10px 20px;
            background-color: black;
            color: white;

            &.btn-black:active {
              outline: 0;
            }

            i {
              margin-right: 5px;
            }

            .color-red {
              color: red;
            }

          }

        }

      }

    }

    .buscador {

      top: 0;
      left: 0;
      height: 100%;
      position: fixed;
      background-color: #333333;
      -moz-transition: all linear 0.5s;
      -o-transition: all linear 0.5s;
      -webkit-transition: all linear 0.5s;
      transition: all linear 0.5s;

      &.open {
        width: 100%;
      }

      &.close {
        width: 0px;
      }

      .flex-column {

        display: flex;
        flex-direction: column;

        .flex-item {

          display: flex;
          flex: 1;

          .logo {
            height: 50px;
            padding: 0 20px;
          }

          .btn-position {

            top: 0;
            right: 0;
            position: absolute;

            .btn-grey {

              font-size: 100%;
              font-family: inherit;
              border: 0;
              padding: 14.5px 20px;
              background-color: #333333;
              color: white;
              position: relative;

              &.btn-grey:active {
                outline: 0;
              }

              .tooltip {
                visibility: hidden;
                width: 96%;
                background-color: black;
                color: #fff;
                text-align: center;
                padding: 5px 5px;
                border-radius: 6px;
                font-size: 11px;
                position: absolute;
                top: 52px;
                left: calc(1%);
                z-index: 1;
              }
  
              &.btn-grey:hover {
  
                .tooltip {
                  visibility: visible;
                }
  
              }

            }

          }

          .buscar {
            width: 100%;
            margin: 20px;
            padding: 8px;
            border: 1px;
          }

          .option {
            margin: 0 0 20px 20px;
            padding: 10px;
            color: white;
            position: relative;

            .tooltip {
              visibility: hidden;
              width: 80%;
              background-color: black;
              color: #fff;
              text-align: center;
              padding: 5px 5px;
              border-radius: 6px;
              font-size: 11px;
              position: absolute;
              top: 45px;
              left: calc(10%);
              z-index: 1;
            }

            &.option:hover {

              .tooltip {
                visibility: visible;
              }

            }

            .options {
              position: relative;
              cursor: pointer;
            }

            .options-active {

              color: white;
              position: relative;
              cursor: pointer;

              &::after {
                content: " ";
                padding: 1px;
                width: 100%;
                position: absolute;
                top: 22px;
                left: 0px;
                background-color: white;
              }

            }

          }

          .scrollable {

            height: calc(100vh - 188px);
            width: 100%;
            overflow-y: scroll;
            overflow-x: hidden;

            .flex-row {

              display: flex;
              flex-direction: row;
              flex-wrap: wrap;

              .flex-item {

                display: flex;
                flex: 1 1 auto;
                width: 100%;

                .box {

                  padding: 0 20px 15px 20px;
                  width: 100%;

                  .appbox {

                    padding: 15px 0 15px 0;
                    text-align: center;
                    color: white;
                    border: 1px;
                    width: 100%;
                    font-size: 16px;
                    border-style: solid;
                    border-width: 1px;
                    border-color: #333333;
                    border-radius: 2px;
                    position: relative;

                    .tooltip {
                      visibility: hidden;
                      width: 50%;
                      background-color: black;
                      color: #fff;
                      text-align: center;
                      padding: 5px 5px;
                      border-radius: 6px;
                      font-size: 11px;
                      position: absolute;
                      top: 70px;
                      left: calc(25%);
                      z-index: 1;
                    }

                    &.appbox:hover {

                      .tooltip {
                        visibility: visible;
                      }

                      border-style: solid;
                      border-width: 1px;
                      border-color: grey;

                    }

                    .icono {
                      width: 100%
                    }

                  }

                }

              }

            }

            .flex-column {

              display: flex;
              flex-direction: column;

              .flex-item {

                display: flex;
                flex: 1;

                .headAmbito {

                  display: flex;
                  padding: 0 0 5px 20px;
                  width: 100%;

                  .headColor {
                    width: 5px;
                  }

                  .headTitle {
                    margin: 0 0 0 20px;
                    color: white;
                  }

                }

              }

              .cursor {

                color: white;

                .aplicacion {
                  margin: 8px 0 8px 45px;

                  .title {
                    color: white;
                    margin-left: 10px;
                  }

                  .icono {
                    font-size: 25px;
                    width: 40px;
                    height: 40px;
                    color: white;
                    background-color: #757575;
                    text-align: center;
                    padding-top: 8px;
                  }

                }

              }

            }

          }

        }

        .flex-start {
          justify-content: flex-start;
        }

        .bkgd-black {

          background-color: black;

          .inicio {

            position: relative;

            .tooltip {
              visibility: hidden;
              width: 120px;
              background-color: black;
              color: #fff;
              text-align: center;
              padding: 5px 5px;
              border-radius: 6px;
              font-size: 11px;
              position: absolute;
              top: 52px;
              left: 45px;
              z-index: 1;
            }

            &.inicio:hover {

              .tooltip {
                visibility: visible;
              }

            }

          }

        }

      }

    }

  }

  footer {

    flex-shrink: 0;
    height: 80px;
    width: 100%;
    padding: 15px;    
    align-items: center;
    background-color: @color-footer;
    border-top: 1px solid #DEE5E7;
    font-family: 'Source Sans Pro', sans-serif, Helvetica, Arial;
    font-size: 14px;

    .flex-row {
      display: flex;
      flex-direction: row;

      .flex-item-1 {
        flex: 1;
      }
  
      .flex-item-2 {
        flex: 1;
        display: none;
      }
  
      .flex-item-3 {
        flex: 1;
        display: none;
      }
      
    }  

  }

}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #BBBBBB;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

@media (min-width: 768px) {
  .wrapper {

    header {

      .cabecera {

        .flex-row {

          .flex-item {

            .desktop {
              display: block;
            }

            .mobile {
              display: none;
            }

            .btn-white {

              display: block;

              &:hover {
                background-color: #16232D;
              }

            }

            .btn-black {

              &:hover {
                background-color: #16232D;
              }

            }

          }

        }

      }

      .menu {
        display: none;
      }

      .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        background: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        opacity: 100;
      }

      .buscador {

        &.open {
          width: 450px;
        }

        &.close {
          width: 0px;
        }

        .flex-column {

          .flex-item {

            .btn-grey {

              &:hover {
                background-color: #16232D;
              }

            }

            .option {

              &.option:hover {
                background-color: rgb(36, 36, 36);
              }

            }

            .scrollable {

              .flex-row {

                .flex-item {

                  width: 50%;

                  .box {

                    .appbox {

                      .tooltip {
                        width: 76%;
                        top: 76px;
                        left: calc(12%);
                      }

                    }

                  }

                }

              }

              .flex-column {

                .cursor {

                  &.cursor:hover {
                    cursor: pointer;
                    color: white;
                    opacity: 0.3;
                    background-image: linear-gradient(to right, #333333, #747272, #747272, #333333);
                  }

                }

              }

            }

          }

        }

      }

    }

    footer {
  
      .flex-row {
        display: flex;
        flex-direction: row;

        .flex-item-1 {
          flex: 1;
          min-width: 210px;
        } 
        
        .flex-item-2 {
          flex: 2;
          display: block;

          .flex-row {
            display: flex;
            flex-direction :row;
            flex-wrap: wrap;
            justify-content: center;

            .flex-item {
              flex: 0 1 auto;
              padding-left: 3px;
            }

          }
  
          a {
            text-decoration: none;
            color: @color-links;
            cursor: pointer;
            position: relative;

            &:hover {

              text-decoration: underline;

              .tooltip {
                visibility: visible;
              }

            }

            .tooltip {
              visibility: hidden;
              width: 100%;
              background-color: black;
              color: #fff;
              text-align: center;
              padding: 5px 5px;
              border-radius: 6px;
              font-size: 11px;
              position: absolute;
              top: -30px;
              left: 0;
              z-index: 1;
            }

          }
  
        }
    
        .flex-item-3 {
          
          flex: 1;
          display: block;
  
          .content {
            display: flex;
            justify-content: flex-end;
            font-size: 12px;
            line-height: 2.5;
    
            a {
              border: 1px solid transparent;
              border-radius: 2px;
              height: 30px;
              margin-right: 3px;
              text-align: center;
              width: 30px;
    
              &.btn-twitter {
                background-color: @color-twitter;
                color: @color-blanco;
              }
    
              &.btn-facebook {
                background-color: @color-facebook;
                color: @color-blanco;
              }
    
              &.btn-youtube {
                background-color: @color-youtube;
                color: @color-blanco;
              }
    
              &.btn-linkedin {
                background-color: @color-linkedin;
                color: @color-blanco;
              }
    
              &.btn-instagram {
                background-color: @color-instagram;
                color: @color-blanco;
              }
    
              &.btn-pinterest {
                background-color: @color-pinterest;
                color: @color-blanco;
              }
    
              &.btn-android {
                background-color: @color-android;
                color: @color-blanco;
              }
    
              &.btn-apple {
                background-color: @color-apple;
                color: @color-negro;
              }

            }

          }

        }

      }
  
    }

  }

}
