<div class="wrapper">
  <header>
    <div class="cabecera">
      <div class="flex-row">
        <div class="flex-item">
          <img class="logo" src="assets/logo-universite.svg">
          <button class="btn-white desktop" *ngIf="!buscadorBoxVisible"(click)="gestionBuscador('desktop')"><i class="fa fa-th"></i></button>
          <button class="btn-white desktop" *ngIf="!buscadorBoxVisible" (click)="gestionBuscador('all')"><i class="fa fa-search"></i></button>
        </div>
        <div class="flex-item flex-end">
          <img class="foto desktop" src="{{foto}}" />
          <button class="btn-black mobile" (click)="gestionBuscador('desktop')"><i class="fa fa-th"></i></button>
          <button class="btn-black"><i class="fa fa-bell"></i></button>
          <button class="btn-black desktop"><i class="fa fa-power-off color-red"></i></button>
          <button class="btn-black mobile" (click)="gestionMenu()"><i class="fa fa-bars"></i></button>
        </div>
      </div>
    </div>
    <div class="menu" [ngClass]="menuBoxVisible ? 'open' : 'close'">
      <div class="flex-column" *ngIf="menuTextVisible">
        <div class="flex-item"><button class="btn-black"><i class="fa fa-user"></i><span *ngIf="configuracion">{{configuracion.NombrePersona}}</span></button></div>
        <div class="flex-item"><button class="btn-black"><i class="fa fa-cog"></i><span>Configuración</span></button></div>
        <div class="flex-item"><button class="btn-black"><i class="fa fa-power-off color-red"></i><span>Cerrar sesión</span></button></div>
      </div>
    </div>
    <div class="overlay" *ngIf="buscadorBoxVisible" (click)="gestionBuscador()"></div>
    <div class="buscador" [ngClass]="buscadorBoxVisible ? 'open' : 'close'">
      <div class="flex-column" *ngIf="buscadorTextVisible">
        <div class="flex-item bkgd-black">
          <img class="logo" src="assets/logo-universite.svg">
          <button class="btn-grey" (click)="gestionBuscador()"><i class="fa fa-times" (click)="gestionBuscador()"></i></button>
        </div>
        <div class="flex-item">
          <input type="text" class="buscar" placeholder="Buscar en todas mis aplicaciones" (click)="gestionSidenav('all')" (keyup)="buscar($event)">
        </div>
        <div class="flex-item">
          <div class="option">
            <span [ngClass]="optionActiva == 'desktop' ? 'options-active' : 'options'" (click)="gestionSidenav('desktop')">ESCRITORIO ({{totalEscritorio}})</span>
          </div>
          <div class="option">
            <span [ngClass]="optionActiva == 'all' ? 'options-active' : 'options'" (click)="gestionSidenav('all')">TODAS</span>
          </div>
        </div>
        <div class="flex-item" *ngIf="optionActiva == 'desktop'">
          <div class="scrollable">
            <div class="flex-row">
              <div class="flex-item" *ngFor="let item of escritorio.AplicacionesEscritorio">
                <div class="box">
                  <div class="appbox" [ngStyle]="{'background-color': item.Categoria.Color}">
                    <i class="icono {{item.Icono}}"></i>
                    <span>{{item.Titulo}}</span>
                    <span class="tooltip">{{item.Descripcion}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex-item" *ngIf="optionActiva == 'all'">
          <div class="scrollable">
            <div class="flex-column" *ngFor="let item of aplicaciones">
              <div class="flex-item">
                <div class="headAmbito">
                  <span class="headColor" [ngStyle]="{'background-color': item.Color}"></span>
                  <span class="headTitle">{{item.Categoria.toUpperCase()}}</span>
                </div>
              </div>
              <div class="flex-item cursor" *ngFor="let app of item.Aplicaciones">
                <div class="aplicacion">
                  <i class="icono {{app.Icono}}"></i><span class="title">{{app.Titulo}}</span>             
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>
    <div class="logos">
      <img src="assets/candado.svg" />
      <img src="assets/logo-footer-universite.svg" />
    </div>
    <div class="links">
      <a href="#">Aviso legal</a>
      <span> | </span>
      <a href="#">Teléfonos de emergencia</a>
      <span> | </span>
      <a href="#">Soporte</a>
      <span> | </span>
      <a href="#">Mapa de asplicaciones</a>
      <br>
      <a href="#">Universidad Miguel Hernández</a>
    </div>
    <div class="social-media">
      <a target="_blank" href="http://twitter.com/UniversidadMH" aria-label="Twitter" class="btn-twitter"> <i class="fa fa-twitter fa-lg"></i></a>
      <a target="_blank" href="https://www.facebook.com/UniversidadMiguelHernandezElche" aria-label="Facebook" class="btn-facebook"> <i class="fa fa-facebook fa-lg"></i></a>
      <a target="_blank" href="http://youtube.umh.es/" aria-label="Youtube" class="btn-youtube"> <i class="fa fa-youtube fa-lg"></i></a>
      <a target="_blank" href="http://es.linkedin.com/edu/universidad-miguel-hern%C3%A1ndez-de-elche-12237" aria-label="Linkedin" class="btn-linkedin"> <i class="fa fa-linkedin fa-lg"></i></a>
      <a target="_blank" href="http://instagram.com/universidadmh#" aria-label="Instagram" class="btn-instagram"> <i class="fa fa-instagram fa-lg"></i></a>
      <a target="_blank" href="http://es.pinterest.com/universidadmh/" aria-label="Pinterest" class="btn-pinterest"> <i class="fa fa-pinterest  fa-lg"></i></a>
      <a target="_blank" href="https://play.google.com/store/apps/details?id=com.umh.umh" aria-label="Android" class="btn-android"> <i class="fa fa-android fa-lg"></i></a>
      <a target="_blank" href="https://itunes.apple.com/es/app/umhapp/id807439885?mt=8" aria-label="Apple" class="btn-apple"> <i class="fa fa-apple fa-lg"></i></a>
    </div>
  </footer>
</div>